.clients {
    position: relative;
    padding: 0 42px;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.clients__coments {
    padding: 27px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #AA14F0 -42.58%, rgba(170, 20, 240, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(185, 54, 245, 0) 100%);
    border-radius: 7px;
}

.clients__title {
    margin-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    color: #FFF;
}

.clients__text {
    margin-bottom: 23px;
    display: flex;
    align-self: center;
    max-width: 300px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
}

.clients__item-fb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.clients__arow {
    display: none;
}

.item-fb__card {
    padding: 5px 7px 7px 10px;
    max-width: 143px;
    width: 100%;
    background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #CB8DE8 -42.58%, rgba(203, 143, 232, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(199, 137, 228, 0) 100%);
    backdrop-filter: blur(11px);
    border-radius: 7px;
}

.generatedCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.card-logo {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 5px;
    color: #E4E5E7;
}

.card-logo__span {
    color: #F7B603;
}

.card-text {
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 5px;
    line-height: 9px;
    color: #FFF;
}

.card-info {
    display: flex;
}

.card-info__user {
    display: flex;
    margin-left: 5px;
    flex-direction: column;
    justify-content: center;
}

.user-name,
.user-mail {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 5px;
    color: #FFF;
}

.user-mail {
    color: #EB4468;
}

.clients__ellipse {
    position: absolute;
    left: 43%;
    bottom: -70%;
    filter: blur(40px);
    z-index: -1;
}


@media (max-width: 680px) {
    .clients {
        padding: 0 16px;
    }

    .generated__clients-cards li:nth-child(2),
    .generated__clients-cards li:nth-child(3) {
        display: none;
    }

    .clients__title {
        margin-bottom: 8px;
    }

    .clients__text {
        margin-bottom: 20px;
    }

    .clients__coments {
        padding-top: 25px;
        padding-bottom: 20px;
    }

    .item-fb__card {
        padding: 16px;
        max-width: 240px;
        min-height: 140px;
    }

    .card-logo {
        margin-bottom: 15px;
    }

    .card-text {
        margin-bottom: 30px;
    }

    .clients__arow {
        display: flex;
    }

    .arow__left,
    .arow__right {
        position: absolute;
        max-width: 10px;
        top: 62%;
    }

    .arow__left {
        left: 30px;
    }

    .arow__right {
        right: 30px;
    } 
}