.footer {
    padding: 16px 42px 35px 42px;
    display: flex;
    justify-content: center;
}

.footer__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #AA14F0 -42.58%, rgba(170, 20, 240, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(185, 54, 245, 0) 100%);
    border-radius: 7px;
}

.footer__item {
    padding-left: 97px;
    padding-top: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 263px;
    width: 100%;
}

.footer__item-title {
    margin-bottom: 11px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
}

.footer__item-description {
    margin-bottom: 7px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 8px;
    line-height: 11px;
    color: rgba(255, 255, 255, .85);
}

.footer__form {
    display: flex;
    gap: 10px;
}

.footer__form-input {
    padding: 5px 0 5px 5px;
    max-width: 109px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 7px;
    line-height: 11px;
    color: #F4F9FE;
    background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #CB8DE8 -42.58%, rgba(203, 143, 232, .18) 4.35%, rgba(151, 60, 68, .055) 99.99%, rgba(199, 137, 228, 0) 100%);
    box-shadow: inset 0px -9.72759px 16.2127px rgba(255, 255, 255, .03);
    backdrop-filter: blur(12.1595px);
    border-radius: 2px;
    cursor: pointer;
}

.footer__form-input:focus {
    background: linear-gradient(99.99deg, #B936F5 -41%, #C64C85 100%, #F1005B 100%);
}

.footer__form-input::placeholder {
    color: rgba(224, 163, 201, 0.56);
}

.footer__form-btn {
    padding: 5px 11px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 7px;
    line-height: 8px;
    color: #F4F9FE;
    background: linear-gradient(99.99deg, #B936F5 -21.45%, #C64C85 100%, #F1005B 100%);
    border-radius: 2px;
    cursor: pointer;
}

.footer__form-btn:hover {
    background: linear-gradient(99.99deg, #6f2193 -21.45%, #a0265f 100%, #98043d 100%);
}


@media (max-width: 680px) {
    .footer {
        margin: 0 16px;
        background: linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #AA14F0 -42.58%, rgba(170, 20, 240, .18) 4.35%, rgba(151, 60, 68, .055) 99.99%, rgba(185, 54, 245, 0) 100%);
        border-radius: 7px;
        max-width: 324px;
        width: 100%;
        max-height: 125px;
        height: 100%;
    }

    .footer__content {
        max-width: 356px;
        justify-content: flex-start;
        background: none;
        align-items: center;
    }

    .footer__item {
        padding-left: 14px;
        max-width: 181px;
    }

    .footer__img {
        position: absolute;
        margin-right: 16px;
        z-index: -1;
    }

    .footer__img img {
        min-height: 122px;
        min-width: 240px;
    }

    .header__ellipse {
        min-width: 500px;
        top: 0;
        left: -130px;
    }

    .hero__ellipse-right,
    .clients__ellipse {
        display: none;
    }

}