.experience {
    padding: 0 68px 60px 58px;
    display: flex;
    justify-content: space-between;
    min-height: 350px;
}

.experience-ellipse__left {
    position: absolute;
    left: 0;
    z-index: -1;
}

.experience-photo {
    display: flex;
    position: relative;
    gap: 20px;
}

.experience-photo__women {
    align-self: flex-start;
    z-index: 30;
}

.experience-photo__men {
    margin-top: 25%;
    align-self: flex-end;
    z-index: 40;
}

.experience-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    max-height: 57px;
}

.experience-content__title {
    margin-bottom: 20px;
    max-width: 230px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-size: 21px;
    line-height: 33px;
    color: #FFF;
}

.experience-content__describe {
    margin-bottom: 22px;
    max-width: 220px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(255, 255, 255, .85);
}

.experience-btn {
    padding: 11px 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    color: #FFF;
    background: linear-gradient(99.99deg, #B936F5 -21.45%, #C64C85 100%, #F1005B 100%);
    border-radius: 4px;
    cursor: pointer;
}

.experience-btn:hover {
    background: linear-gradient(99.05deg, #791c8e 0.07%, #ab206a 106.32%);
}


@media (max-width: 680px) {
    .experience {
        margin-bottom: 100px;
        padding: 0 16px 15px 16px;
        flex-direction: column;
    }

    .experience-photo {
        gap: 16px;
    }

    .experience-photo__women,
    .experience-photo__men {
        max-width: 170px;
    }

    .experience-content {
        max-width: 100%;
        margin-top: 16px;
        align-items: center;
    }

    .experience-content__title {
        max-width: 360px;
        font-size: 19px;
    }

    .experience-content__describe {
        margin-bottom: 24px;
        max-width: 360px;
    }
}